#paypal-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hover-low {
    position: fixed;
    bottom: 30px;
    min-width: 100%

}

body {
    background: url("/static/johnston-wall.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

.plc-text {
    background: rgba(0, 0, 0, 0.5);

}

.landing-text {
    color: white;
    text-align: center;
    font-family: Helvetica;
    font-size: 1.5em;
}
